<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>E-commerce shop</title>
    <script>
        const goToTop = () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>
</head>

<body>
    <footer>
        <div class="footer__button">
            <button class="totopbtn" onClick="goToTop()">
                Back to top
            </button>
        </div>

        <div class="footer__section">
            <div class="footer__category">
                <h6>SITE MAP</h6>
                <ul>
                    <a href="/">
                        <li>HOME</li>
                    </a>
                    <a href="">
                        <li>FASHION</li>
                    </a>
                    <a href="">
                        <li>ELECTRONICS</li>
                    </a>
                    <a href="">
                        <li>FURNITURE</li>
                    </a>
                    <a href="">
                        <li>TOYS</li>
                    </a>

                </ul>
            </div>

            <div class="footer__contact">
                <h6>Contact Details</h6>
                <p>suppor@onlinestore.com</p>
                <p>+852 1234 5678</p>
            </div>
        </div>
    </footer>

</body>

</html>