.shops__container {
  margin: 0 auto 0 auto;
  max-width: 98%;
  display: flex;
  flex-direction: column;
}

.heading {
  padding-top: 35px;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 18px;
  margin-left: 25px;
}

.shop__container {
  margin: 40px auto 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  max-width: 80%;
  gap: 60px;
  justify-content: center;
}

.shop {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  width: 300px;
  min-height: 245px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 0px;
}

.shop > h4 {
  text-align: center;
  letter-spacing: 0.1em;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto 0 auto;
  gap: 20px;
  padding-top: 20px;
}

.buttons a,
.buttons a:hover {
  color: black;
}

.buttons button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.productsBtn {
  background-color: black;
  color: white;
}

.productsBtn:hover {
  background-color: rgb(60, 59, 59);
}

.ordersBtn {
  background-color: rgb(25, 25, 188);
  color: white;
}

.ordersBtn:hover {
  background-color: rgb(62, 62, 226);
}

.deleteBtn {
  background-color: red;
  color: white;
}

.deleteBtn:hover {
  background-color: rgb(255, 64, 64);
}
